.body {
    height: 100%;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .more-button {
            width: 180px;
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
