@import "normalize.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
    --primary: #f2b94c;
    --text-color: #603913;
    --section-color: #c59d6b;
    --black: #000;
    --white: #fff;

    --font-family: "Dosis", "sans-serif";

    // default layout
    --default-layout-header-height: 60px;
    --default-header-top-background: #f6ede3;
    --default-layout-top-header-height: 160px;
    --default-layout-width: 1170px;
    --default-layout-horizontal-spacer: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// scrollbar css

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--section-color);
    border-radius: 4px;
}

//
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    line-height: normal;
}

// custom tippy tooltip
body {
    .tippy-box {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
        top: -8px;
    }
}
