.title {
    font-size: 2rem;
    font-weight: 500;
    transition: linear 0.12s;

    .icon {
        font-size: 1.4rem;
        padding-left: 8px;
    }

    &.active {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
    }
}
