.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    max-width: 100%;
}

.container {
    width: var(--default-layout-width);
    height: auto;
    max-width: 100%;
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    margin-left: 15px;
    flex: 3;
}
