.body {
    height: auto;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .more-button {
            width: 180px;
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

:global {
    .ant-pagination .ant-pagination-item {
        font-family: var(--font-family);
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
    }

    .ant-pagination .ant-pagination-item-active {
        font-weight: 600;
        background-color: #ffffff;
        border-color: var(--section-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
    }

    .ant-pagination .ant-pagination-item-active a {
        color: var(--text-color);
    }

    .ant-pagination .ant-pagination-item-active:hover {
        color: var(--text-color);
        border-color: var(--section-color);
    }

    .ant-pagination .ant-pagination-item-active:hover a {
        color: var(--text-color) !important;
    }
}
