// menu wrapper
.menu-list {
    width: 110px;

    .menu-item {
        margin-right: 0;
    }
}

.menu-popper {
    padding-bottom: 0px;
}

.menu-body {
    overflow-y: auto;
}

// menu items
.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: var(--font-family);
    padding: 11px 0;
    line-height: 1.8rem;
    color: var(--text-color);
    transition: linear 0.12s;

    &.separate {
        border-bottom: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        border-radius: 0;
        color: var(--primary);
    }
}
